<div class="bg-dark text-white mf  pf">
  <div class="row container justify-content-between">
    <div class="col-5 ">

        <a href="https://www.facebook.com/">

          <i class="fab fa-facebook-square  icon-style"></i>
        </a>

        <a href="https://twitter.com/?lang=en">
          <i class="fab fa-twitter-square  icon-style"></i>
        </a>

        <a href="https://www.google.com/">
          <i class="fab fa-google-plus  icon-style"></i>
        </a>
        <a href="https://www.instagram.com/">
          <i class="fab fa-instagram-square  icon-style"></i>
        </a>
        <a href="https://www.linkedin.com/">
          <i class="fab fa-linkedin-in   icon-style"></i>
        </a>


    </div>
    <div class="col-7 row">
      <div class="col-4">
        <i class="fas fa-map-marker-alt icon-style me-2"></i>
        <p class="text-white d-inline-block">26 alex maharm bay</p>

      </div>
      <div class="col-4  ">
        <i class="far fa-envelope icon-style me-2"></i>
        <p class="text-white  d-inline-block">Quick Email</p>

      </div>
      <div class="col-4">
        <i class="fas fa-phone-volume icon-style me-2"></i>
        <p class="text-white  d-inline-block">
          03-5575874</p>
    </div>
  </div>
</div>
